body{
    margin: 0px;
    cursor: default;
    /* height: 200px; */
    /* background-color: #ffa9001c;
    background-color: #00000012; */
}
header{
    display: flex;
    justify-content: center;
    margin-top: -2.0vh;
}
.navbar{
    display: flex;
    /* justify-content: space-between; */
}
#left a{
    display: flex;
    padding-top: 20px;
    /* justify-content: center; */
    /* align-items: center; */
    /* color: #93ad2c; */
    /* font-weight: bold; */
    /* font-family:"Kryptic LP W00 Regular"; */
    /* font-family: 'Share Tech', sans-serif; */
    /* text-decoration: none; */

}
#left a img{
    width: 8vw;
}
#right img{
    width: 9%;
}
/* #left
{
    /* padding-left: 1vw; */
    /* display: flex; */
    /* font-size: 2.0vw; */
    /* align-items: center; */
/* } */
#right{
    display: flex;
    justify-content:end;
    align-items:center;
}
#right ul{
    font-family: 'Share Tech', sans-serif;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-right: 1em;
}
#right ul a{
    
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin: 1em 1em 1em 0.5em;
    display: flex;
    background-image: linear-gradient(to right bottom, #D3F935,#daec8e);
    /* border: 2px solid blue; */
    border-radius: 0.7em;
    box-shadow: 0.6vw 0.8vw 0.7vw -0.5vw #888888;
    text-decoration: none;
    min-width: 7vw;
    padding:1vh 2vw;
    font-size: 1.7vw;
    justify-content: center;
    /* size: 230px; */
}
#right ul a:hover{
    background-image: linear-gradient(to right bottom, #e8f99d,#ccf722);
    scale: 1.06;
}
.navbar div{
    display: inline-block;
}
#heading{
    margin-top: 3.0vh;
    display: flex;
    justify-content: center;
    align-items: end;
    /* font-family: 'Roboto Slab', serif; */
    /* font-family: 'Share Tech', sans-serif; */
    font-family:"Kryptic LP W00 Regular" !important;
    font-size:5.7vw;
    text-transform:uppercase ;
}
#line1{
    margin-top: 3vh;
    width: 38vw;
    background-color: black;
    height: 0.15vh;
}
#boxes{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color:black;
}
.cards{
    
    font-family: 'Outfit', sans-serif;
    align-items: center;
    width: 27vw;
    box-sizing:content-box;
    min-height: fit-content;
    padding-bottom: 2vh;
    /* min-width: 33vh; */
    /* height: 38vh; */
    display: flex;
    border-radius: 0.7em;
    box-shadow: 1vw 1vw 0.7vw -0.5vw #888888;
    flex-direction: column;
    margin-bottom: 8.5vh;
    /* background-color: rgb(140, 83, 193); */
    /* background-image: linear-gradient(red, yellow); */
    /* overflow: scroll; */
    
}
.cards h1{
    font-family: 'Outfit', sans-serif;
    /* font-family: 'Share Tech', sans-serif; */
    font-size: 2.7vw;
    margin: 2.5vh;
    font-weight: bolder;
}
#card1{
    background-image: linear-gradient(#FE7A7C, #FFCD54);
}
#card3{
    background-image: linear-gradient(#74e37f,#c2ef60 );
}
#card2{
    background-image: linear-gradient(rgb(62, 167,207 ), #B9E6FD);
}
/* .cards::-webkit-scrollbar {
    display: none;
  } */
.cards a{
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    color:  rgba(245, 245, 245, 0.877);
    text-decoration: none;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    border-radius: 0.7em;
    background-color:#1F3E75;
    padding: 10px 30px;
}
.cards a:hover{
    background-color: #192f57;
    /* scale: 1.1; */
}
.cards p{
    /* font-family: "Oceanwide Semibold" !important; */
    margin-top: 0px;
    text-align: center;
    color:#607655;
    padding: 0vw 1vw;
    
}
footer{
    /* background-image: linear-gradient(to right bottom,#a1753e,#f4cc8e); */
    /* background-image: linear-gradient(to right bottom,#aca0a0,#5a505033); */
    background-color:#EBFF9E ;
    position: absolute;
    color: #2A3700;
    bottom: 0px;
    display: flex;
    /* align-items: end; */
    margin-top: 22vh;
    width: 100%;
    font-weight: bold;
    justify-content: center;
    
    font-family: 'Outfit', sans-serif;
}
footer:hover i{
    scale: 1.3;
}
@media screen and (max-width:900px){
    #boxes{
        flex-direction: column;
        /* align-items: center; */
    }
    .cards{
        width: 60vw;
        margin: 4vh 0vh;
        /* margin-top: 1vh; */
    }
    #card1{
        margin-top: -3vh;
    }
    .cards p{
        margin: 0vw 5vw;
        margin-bottom: 2vw;
    }
    .cards h1{
        font-size: 4.4vw;
        margin: 2.4vh;
        /* font-weight: 900; */
    }
    footer{
        margin-top: 40px;
        position: relative;
    }
    #right ul a{
        display: flex;
        align-items: center;
        width: 11vw;
        height: 3.0vh;
        font-size: 2.35vw;
        /* font-weight: ; */
    }
    #right img{
        width: 10%;
    }
    #left a img{
        width: 11vw;
    }
    #heading{
        font-size: 6.5vw;
        margin-top:6vh ;
        margin-bottom: 0vh;
        padding-bottom: 0vh;
    }
}
@media screen and (max-width:750px) and (min-width:400px)
{
    #right ul a{
        font-size: 2.7vw;
    }
    #right img{
        width: 13%;
    }
    #left a img{
        width: 14vw;
    }
    #heading{
        font-size: 7.0vw;
    }
    .cards h1{
        font-size: 6vw;
        margin: 2.8vh;
    }
    
}